<form class="example-form">
  <h1>Add Record</h1>
  <mat-form-field class="example-full-width">
    <mat-label>Joggind Date</mat-label>
    <input matInput placeholder="Enter Date">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Leave a Distance</mat-label>
    <textarea matInput placeholder="Enter DateEnter Distance"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Time</mat-label>
    <textarea matInput placeholder="Enter Time"></textarea>
  </mat-form-field>
  <button mat-button color="primary">Save</button>
</form>
